<% layout("layouts/boilerplate") %>
<%= success %>
<style>
    #filters {
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
    }

    .filter {
        margin-right: 2rem;
        text-align: center;
        opacity: 0.6;
    }
    .filter a {
        text-decoration: none;
        color: black;
    }

    .filter:hover {
        opacity: 1;
        cursor: pointer;
    }

    .filter p {
        font-size: small;
    }

    .tax-toggle {
        margin-left: 5rem;
    }

    .tax {
        display: none;
    }

</style>

 <div id="filters">
    <div class="filter">
        <a href="/listings/category/trending"><div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p></a>
    </div>

    <div class="filter">
        <a href="/listings/category/rooms"><div><i class="fa-solid fa-bed"></i></div>
        <p>Rooms</p></a>
    </div>

    <div class="filter">
        <a href="/listings/category/cities"><div><i class="fa-solid fa-mountain-city"></i></div>
        <p>Iconic Cities</p></a>
    </div>

    <div class="filter">
        <a href="/listings/category/mountains"><div><i class="fa-solid fa-mountain"></i></div>
        <p>Mountains</p></a>
    </div>

    <div class="filter">
        <a href="/listings/category/castles"><div><i class="fa-brands fa-fort-awesome"></i></div>
        <p>Castles</p></a>
    </div>

    <div class="filter">
        <a href="/listings/category/pools"><div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Amazing Pools</p></a>
    </div>

    <div class="filter">
        <a href="/listings/category/camping"><div><i class="fa-solid fa-campground"></i></div>
        <p>Camping</p></a>
    </div>

    <div class="filter">
        <a href="/listings/category/farms"><div><i class="fa-brands fa-cow"></i></div>
        <p>Farms</p></a>
    </div>

    <div class="filter">
        <a href="/listings/category/arctics"><div><i class="fa-regular fa-snowflake"></i></div>
        <p>Arctics</p></a>
    </div>

        <div class="tax-toggle">
        <div class="form-check-reverse form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
    <label class="form-check-label" for="switchCheckDefault">Display total after Taxs</label>
    </div>
    </div> 

</div>

<div class="row row-cols-md-3 row-cols-sm-2">
    <% for (let listing of allListings) { %>
        <% if (listing && listing._id) { %>
            <a href="/listings/<%= listing._id %>" class="listing-link">
                <div class="card col">
                    <img src="<%= listing.image.url || '/images/placeholder.png' %>" class="card-img-top" alt="listing image">
                    <div class="cardS-img-overlay"></div>
                    <div class="card-body">
                        <p class="card-text">
                            <b><%= listing.title %></b><br>
                            <%= listing.description %><br>
                            &nbsp;&#x20B9; <%= listing.price?.toLocaleString('en-IN') || 'N/A' %> <i class="tax">18% Tax</i>
                        </p> 
                    </div>
                </div>
            </a>
        <% } else { %>
            <div class="card col border border-danger text-danger p-2">
                <p>Invalid listing data. Please check the database entry.</p>
            </div>
        <% } %>
    <% } %>
</div>

<script>
    let taxSwitch = document.getElementById('switchCheckDefault');
    taxSwitch.addEventListener('click', ()=> {
        let tax = document.getElementsByClassName('tax')[0];
        if(tax.style.display == "block") {
            tax.style.display = "none";
        } else {
            tax.style.display = "block";
        }
        
    })

</script>
